---
layout: layouts/home.njk
eleventyNavigation:
  key: Contact
  order: 4
---

<div class="container">
    <div class="row">
        <form netlify name="contact" class="col-12 mx-auto">
            <h2 class="text-center">Feel free to contact me</h2>
            <div class="mb-3">
                <label name="email" for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"></div>
            <div class="mb-3">
                <label name="comments" for="exampleFormControlTextarea1" class="form-label">Leave your comment hear</label>
                <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="3"
                    maxcharlength="130"
                    placeholder="max characters 130"></textarea>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>